table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: right;
}

.bigName {
    text-align: center;
}
.topForm {
    text-align: right;
}

